#
# env.properties
#
#  Use this to configure your properties for building and configuring the project.
#  This file is used by ant (target=templates) to generate all the scripts and configurable items in the project.
#  Additionally, if for some reason you need to, you can override property values that are set in build.xml
#
#  All lines starting with # are comments.
#  Properties that are commented out will be ignored and use the default value that is shown or
#  described in the comment.

########################
#
# REQUIRED FOR TESTING: Testing Database configuration
#
#########################

#Database user for connecting to the database
test.db.user=YOUR_USERNAME_FOR_THE_DATABASE

#Database password for connecting to the database
test.db.pass=YOUR_PASSWORD_FOR_THE_DATABASE

#Database connection for connecting to the database
test.db.connection=jdbc:mysql://localhost/csiutilTest

#Database name
test.db.name=csiutilTest

########################
#
#  Basic configuration
#
#########################

# Used as the base of the project, you shouldn't have to alter this
#project.basedir=..

# The classpath that can be pushed into scripts, defaults to build path as configured by ant
#project.classpath=

# The CSI coding conventions (for use in Jalopy)
coding.conventions=csi_conventions.xml

########################
#
#  Cougaar configuration: change these if you dont want to use your env variables
#
#########################

# Read from COUGAAR_INSTALL_PATH environment variable, better to change that than this
#cougaar.dir=

# Appends /sys to COUGAAR_INSTALL_PATH environment variable
#cougaar.sys.dir=

# Appends /lib to COUGAAR_INSTALL_PATH environment variable
#cougaar.lib.dir=



